@using Cobranza.Core.Application.Dto.PanelParametros
@model ComunaDto

@{
    IEnumerable<PaisDto> paises = ViewBag.Paises;

    PaisDto paisDefault = paises.SingleOrDefault(p => p.EsDefault);

    IEnumerable<RegionDto> regiones = ViewBag.Regiones;

    RegionDto regionDefault = regiones.SingleOrDefault(r => r.EsDefault);
}

<div class="form-group">
    <div class="col-sm-12">
        @Html.LabelFor(m => m.CodigoPais)
        @Html.DropDownListFor(m => m.CodigoPais,
                                    new SelectList(
                                    paises,
                                    "CodigoPais",
                                    "Nombre", paisDefault != null ? paisDefault.CodigoPais : null),
                                 "-- Seleccione --",
                                 new { @class = "form-control", disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.CodigoPais, null, new { @class = "label label-danger textwhite col-sm-12" })
    </div>
    <div class="col-sm-12"></div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        @Html.LabelFor(m => m.IdRegion)
        @Html.DropDownListFor(m => m.IdRegion,
                                             new SelectList(
                                             regiones,
                                             "IdRegion",
                                             "Nombre", regionDefault != null ? (int?)regionDefault.IdRegion : null),
                                 "-- Seleccione --",
                                  new { @class = "form-control", disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.IdRegion, null, new { @class = "label label-danger textwhite col-sm-12" })
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        @Html.LabelFor(m => m.IdComuna)
        @Html.TextBoxFor(m => m.IdComuna, new { @class = "form-control", disabled = "disabled", maxlength = "8" })
        @Html.ValidationMessageFor(m => m.IdComuna, null, new { @class = "label label-danger textwhite col-sm-12" })
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", maxlength = "100" })
        @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "label label-danger textwhite col-sm-12" })
    </div>
</div>
<div class="form-group">
    <div class="col-sm-5">
        @Html.LabelFor(m => m.EsDefault)
    </div>
    <div class="col-sm-4">
        @Html.CheckBoxFor(m => m.EsDefault, new { @class = "checkbox" })
    </div>
</div>

<div class="form-group col-sm-12"></div>
<div class="form-group">
    <div class="col-sm-6">
        <a id="GuardarComuna" class="btn btn-success col-lg-5 col-xs-5 btn-man" href="" data-toggle="modal">
            <span class="glyphicon glyphicon-ok"></span>
            Guardar
        </a>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-danger col-lg-5 col-xs-5 btn-man" href="@Url.Action("Index", "Comunas")">
            <span class="glyphicon glyphicon-remove"></span>
            Cancelar
        </a>
    </div>
</div>

<script type="text/javascript">
    var urlComunaEdit = "@Url.Action("Edit", "Comunas")";

    var urlGetAllRegionesByPais = "@Url.Action("GetAllByPais", "Regiones")";
</script>

<script src="@Url.Content("~/Scripts/Shared/PanelParametros/Comuna/_Edit.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Shared/PanelParametros/Comuna/_ClearValidate.js")" type="text/javascript"></script>